.container{
    height: 97vh;
    font-family: inter;
}
.page-container{
    background-color: white;
    border-radius: 7px;
    margin: 10vh;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-name{
    
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
}