/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Anta-Regular';
    src: url('./assets/Anta-Regular.ttf');
  }
  @font-face {
    font-family: 'Orbitron';
    src: url('./assets/Orbitron-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: 'Honk';
    src: url('./assets/Honk-Regular-VariableFont_MORF\,SHLN.ttf');
  }
  @font-face {
    font-family: 'jetbrains';
    src: url('./assets/JetBrainsMono-VariableFont_wght.ttf');
  }