<nav class="navbar">
    <div class="container">
      <div class="navbar-brand" href="#">Roadwise Academy</div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  